<h2 class="heading {{class}}">
  <div
    class="js-parallax"
    data-rellax-speed="{{ternary rellax-speed rellax-speed 0}}"
  >
    <span class="js-reveal-block {{ternary orangeReveal "js-reveal-orange" ""}} {{ternary lightReveal "js-reveal-light" ""}}">
      <span>{{text}}</span>
    </span>
  </div>
</h2>
