<section class="section hero" {{#if hero.id}} id="{{hero.id}}" {{/if}}>
    <div class="hero__canvas">
    </div>

    <h1 class="hero__header">
      <div class="js-parallax" data-rellax-speed="4">
        <div class="hero__header--upper">{{ hero.header.upper }}</div>
      </div>
      <div class="js-parallax" data-rellax-speed="2">
        <div class="hero__header--lower">{{ hero.header.lower }}</div>
      </div>
    </h1>

  <div class="hero__counter">
    <div class="js-parallax" data-rellax-speed="-0.5">
      {{ hero.counterText }}
    </div>
  </div>

  <div class="hero__bottom">
    <div class="hero__detail js-parallax" data-rellax-speed="-0.2">
      <h3 class="hero__detail__title">{{ hero.eventsLabel }}</h3>
      {{#each hero.events as |event|}}
        <p class="hero__detail__event">
          {{ event.text }},
          <strong class="hero__detail__city">{{ event.city }}</strong>
        </p>
      {{/each}}
    </div>

    {{> components/button
      label=hero.button.label
      class="hero__button"
      icon=(svg hero.button.icon width="24px" height="24px")
    }}

    <a href="{{ hero.nextSectionLink.link }}" class="hero__scroll">
      <div class="js-parallax" data-rellax-speed="0.4">
        {{svg 'images/arrow-down.svg' class="hero__scroll__icon"}}
        <div class="hero__scroll__text" data-title="{{ hero.nextSectionLink.text }}">
          {{ hero.nextSectionLink.text }}
        </div>
      </div>
    </a>

  </div>

</section>
