<section class="section introduction" {{#if introduction.id}} id="{{introduction.id}}" {{/if}}>
  <div class="introduction__container">

    {{> components/heading
      text=introduction.header
      class="introduction__header"
    }}

    <div class="introduction__img" data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="400">
      {{svg 'images/introduction.svg' }}

      <div class="introduction__counter">
        {{ introduction.counterText }}
      </div>
    </div>

    <div class="introduction__wrapper">
      <div class="introduction__subheader text--large">
        {{{ introduction.subheader }}}
      </div>

      <div class="introduction__content">
        <div class="introduction__paragraph text--small">
          {{#each introduction.content as |paragraph|}}
            <p>{{paragraph}}</p>
          {{/each}}
        </div>
      </div>

      <div class="introduction__button">
        {{> components/button
          label=introduction.button.label
          outlineColor="#fff"
          backgroundColor="#000"
        }}
      </div>

      {{> components/next-section-link
        class="introduction__link"
        nextSection=introduction.nextSectionLink
      }}

    </div>
  </div>
</section>
