<section class="section introduction" {{#if introduction.id}} id="{{introduction.id}}" {{/if}}>
  <div class="introduction__container">

    {{> components/heading
      text=introduction.header
      orangeReveal=true
      class="introduction__header"
      rellax-speed="0.7"
    }}

    <div class="introduction__img" data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="400">
      <div class="js-sr">{{svg 'images/introduction.svg' }}</div>

      <div class="introduction__counter">
        <div class="js-sr">{{ introduction.counterText }}</div>
      </div>
    </div>

    <div class="introduction__wrapper">
      <div class="introduction__subheader text--large js-sr">
        {{{ introduction.subheader }}}
      </div>

      <div class="introduction__content">
        <div class="introduction__paragraph text--small js-sr">
          <div class="js-parallax" data-rellax-speed="-0.1">
            {{#each introduction.content as |paragraph|}}
              <p>{{paragraph}}</p>
            {{/each}}
          </div>
        </div>
      </div>

      <div class="introduction__button">
        {{> components/button
          label=introduction.button.label
          orangeReveal=true
          backgroundColor="#000"
          rellax-speed="0.5"
        }}
      </div>

      {{> components/next-section-link
        class="introduction__link"
        nextSection=introduction.nextSectionLink
      }}

    </div>
  </div>
</section>
