<section class="section project">

  <div class="project__container">

    {{> components/heading
      text=project.header
      class="project__header"
    }}

    <div class="project__wrapper">
      <div class="project__content text--medium">
        <div class="project__subheader">{{ project.subheader }}</div>

        {{#each project.content as |paragraph|}}
          <p>{{ paragraph }}</p>
        {{/each}}

        {{> components/button
          class="project__button"
          backgroundColor="#ff5301"
          label=project.button.label
          icon=(svg project.button.icon)
        }}
      </div>

      <div class="project__images">
        {{#each project.images as |imageSrc|}}
          <img src={{imageSrc}} class="project__image project__image--{{@index}}" alt="" />
        {{/each}}
      </div>


    </div>

    <div class="project__counter">{{ project.counterText }}</div>

    {{> components/next-section-link
      class="project__link"
      name=project.nextSectionLink
    }}

  </div>

</section>
