<section class="section team" {{#if team.id}} id="{{team.id}}" {{/if}}>
  <div class="team__container">

    {{> components/heading
      text=team.header
      class="team__header"
    }}

    <div class="team__quote">
      <blockquote class="team__quote__text">{{ team.quote.text }}</blockquote>
      <p class="team__quote__author">- {{ team.quote.author }}</p>
    </div>

    <div class="team__profiles">
      {{#each team.profiles as |profile| }}
        {{> components/profile
          index=@index
          class="team__profile"
          profile=profile
        }}
      {{/each}}
    </div>

    <div class="team__counter">{{ team.counter }}</div>

    <div class="team__scroll">
      <p class="team__scroll__text">scroll</p>
      {{svg 'images/arrow-down.svg'}}
    </div>

    {{> components/next-section-link
      class="team__link"
      name=team.nextSectionLink
    }}

  </div>
</section>
